h1{
  text-align: center
}

.hanoi{
  margin:auto;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}

.pile{
  cursor: pointer;
  margin: 2px;
  padding: 0;
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
  width:200px;
  height:200px;
  justify-content: flex-end;
  align-items: flex-end;
  list-style: none;
  border-bottom: black solid 5px
}

.pile:hover{
  border-bottom: blue solid 5px
}

.disc1{
  width:100px;
  height:45px;
  border:2px solid black;
  margin: 0 auto;
  border-radius: 20px;
  background :gray;
}
.disc2{
  width:140px;
  height:45px;
  border:2px solid black;
  margin: 0 auto;
  border-radius: 20px;
  background:gray;
}
.disc3{
  width:180px;
  height:45px;
  border:2px solid black;
  margin: 0 auto;
  border-radius: 20px;
  background:gray;
}

.selected{
  border-bottom: red solid 5px
}
.selected:hover{
  border-bottom: red solid 5px
}
